*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: "Nunito",sans-serif;
    background: #ffffff;
    background: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .input{
    text-align: center;
    display: block;
    width: 50%;
    margin:auto;
    margin-top: 120px;
    
  }
  
  input[type="submit"]{
    padding: 15px 30px;
    background: #e7e7e7;
    border: none;
    border-radius: 1px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
    margin-top: 40px;
    border: 2px solid rgb(255, 169, 57);
    box-shadow: 0px 10px 10px rgb(122, 91, 6);

  }
  
  .input input[type="text"]{
   height: 55px;
    padding: 5px 10px;
    background: #e7e7e7;
    border: none;
    border-radius: 1px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
    text-align: center;
    border: 2px solid rgb(255, 169, 57);
    box-shadow: 0px 10px 10px rgb(122, 91, 6);
    margin: auto;
    text-align: center;
    display: block;
    width: 50%;
  }
  
  .card{
    width: 50%;
    background: #e7e7e7;
    height: 40vh;
    margin: 50px auto;
    border-radius: 2px;
    border: 2px solid rgb(255, 169, 57);
    box-shadow: 0px 10px 10px rgb(122, 91, 6);
  }
  
  
  .close{
    float: right;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .card h1{
    padding: 5px 0;
    text-align: center;
  }
  
  .card p{
    text-align: center;
    margin:40px 0;
    font-size:20px;
  }
